.error-message {
    position: absolute;
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px;
    z-index: 100;
    white-space: nowrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    bottom: -40px;

    &::after {
      content: '';
      position: absolute;
      top: -6px;
      left: 20px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #f8d7da;
    }
  }
  