# Go 빌드 출력 파일
/bin/
*.exe
*.dll
*.so
*.dylib

# Go 모듈 캐시
/go/pkg/
/go/bin/

# 애플리케이션 빌드 바이너리
/main

# IDE 및 편집기 관련 파일
.idea/
.vscode/
*.swp
*.swo
*.bak
*~

# OS별 파일
.DS_Store
Thumbs.db

# 로그 및 디버깅 파일
*.log

# 환경 변수 파일
.env

# 테스트 커버리지 파일
*.out
